/*FOLHA DE ESTILO SOMENTE PARA C1*/


/*DEFINE UM ATRIBUTO E SOBRESCREVE A FOLHA DE ESTILO GLOBAL*/

.box {
    background-color: hotpink;
}

.borderRed {
    border-color: red;
}


/*SELETOR ESPECIAL*/


/*ira selecionar o componente C1*/

:host {
    display: block;
    border: 2px solid green;
}